.App {
  text-align: center;
}

.container {
  margin: 0 5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: solid gray 2px;
  margin: 1rem;
  min-width: 10rem;
  border-radius: 30px;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.card:hover {
  box-shadow: 5px 5px 5px gray;
}
